<!-- <h1>Products words!</h1>
<table  class="table table-bordered">
  <tbody>
  <tr *ngFor="let product of productList; let i = index">
    <td>{{i+1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>
      <button class="btn btn-info">Info</button>
    </td>
  </tr>
</tbody>
</table> -->
<div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Starus</th>
        <th scope="col">Detail</th>
        <th scope="col"></th>
        <td><a routerLink="/products/add">Add</a></td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList; let i = index ">
        <th scope="row">{{i + 1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.status ? "Còn hàng " : "Hết hàng"}}</td>
        <td><a routerLink="/product/{{product.id}}">Detail</a></td>
        <td><button><a routerLink="/product/{{product.id}}/edit">edit</a></button></td>
        <td>
        
        <button (click)="onRemoveProduct(product.id)" >Xóa</button>
        </td>
        

      </tr>
    </tbody>
  </table>
</div>