<div class="container">
    <form action="" (ngSubmit)="onRegister()">
        <div class="mb-3">
            <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="email" name="email">
            <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="password" name="password">
            <input type="name" class="form-control" [(ngModel)]="user.name" placeholder="name" name="name">
            <button class="btnn">Register</button>
        </div>
    </form>
</div>